/* Button styles made by https://www.sololearn.com/compiler-playground/WZX4urB7sdT5/ */

.button {
  background: var(--button-bg-color);
  text-align: center;
  border: 1px solid #c1b695;
  border-radius: 10px;
  box-shadow: 0 3px var(--button-shadow-color);
  transform: translateY(0);
  text-decoration: none;
  color: var(--button-text-color);
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.6rem 1.4rem 0.6rem 1.4rem;
  margin: 1px;
  outline: none;
}

.button[type="file"] {
  display: none;
}

.button:active {
  transform: translateY(3px);
  background: #e7dbc7;
  box-shadow: 0 0 #c1b695;
}

.button.blue {
  color: var(--button-blue-text-color);
  box-shadow: 0 3px var(--button-blue-shadow-color);
  background: var(--button-blue-bg-color);
  border: var(--button-blue-bg-color) 1px solid;
}

.button.blue:active {
  box-shadow: 0 0 #01333d;
  background: #00424d;
  color: #58bca9;
  transform: translateY(3px);
}

.button.yellow {
  color: var(--button-yellow-text-color);
  box-shadow: 0 3px var(--button-yellow-shadow-color);
  background: var(--button-yellow-bg-color);
  border: var(--button-yellow-bg-color) 1px solid;
}

.button.yellow:active {
  box-shadow: 0 0 #362910;
  background: #c0b574;
  color: #8b6636;
  border: 1px solid #322f26;
  transform: translateY(3px);
}

.button.red {
  color: var(--button-red-text-color);
  box-shadow: 0 3px var(--button-red-shadow-color);
  background: var(--button-red-bg-color);
  border: var(--button-red-bg-color) 1px solid;
}

.button.red:active {
  box-shadow: 0 0 #361010;
  background: #5a1407;
  color: #a47b7b;
  border: 1px solid #260808;
  transform: translateY(3px);
}
