.furSelectorItem {
  margin: 0.7rem;
  background-size: cover;
  padding: 0.3rem;
  background-color: var(--container-second-color);
  border: solid 0.2rem #c3b9ac;
  /* background-color: #00000090; */
  border-radius: 1rem;
  overflow: hidden;
  width: 5rem;
  height: 5rem;
}

.filtersContainer .furSelectorItem.selected {
  border: dashed 0.2rem var(--button-blue-shadow-color);
  transform: translateY(-3px);
}

.filtersContainer .furSelectorItem {
  border: solid 0.2rem var(--button-blue-shadow-color);
}

@media (max-width: 445px) {
  .furSelectorItem {
    width: 4rem;
    height: 4rem;
  }
}

.furSelectorItemImage {
  max-width: 4.5rem;
  max-height: 4.5rem;
  width: 100%;
  height: 100%;
}
