.furSelector {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 100%;
    width: 23.6rem;
    margin: 0 .5rem 0 .5rem;
    scrollbar-width: none;
    scrollbar-color: #6e5b4a #353130;
    justify-content: space-between;
}

/* Chrome, Edge, and Safari */
.furSelector::-webkit-scrollbar {
width: 16px;
}

.furSelector::-webkit-scrollbar-track {
background: #353130;
}

.furSelector::-webkit-scrollbar-thumb {
background-color: #171717;
border-radius: 3px;
}

.furSelectorWrapper {
    height: 100%;
    z-index: 101;
    right: 0;
    position: fixed;
    background-color: #353130;
}

.filtersContainer {
    border-bottom: #171717 .2rem solid;
    display: flex;
    margin: 0 .5rem 1rem .5rem;
}