@import url("https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Varela+Round&display=swap");
@import url("buttons/buttons.css");
@import url("vars/colors.css");

* {
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  font-size: bold;
  user-select: none;

  cursor: url(../textures/ui/dot.png) 8 7, auto !important;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  width: 100%;
  height: 100%;
}

.buttonsContainer {
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
}

.movesContainer {
  display: flex;
}
